<?php
    $resource_uri = $this->desc->get_primary_resource_uri();
    $title = $this->get_title($resource_uri);

    $sC = $this->siteConfig;
    $c  = $sC->getConfig();

    echo '<?xml version="1.0" encoding="utf-8"?>'."\n";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsd ="http://www.w3.org/2001/XMLSchema#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"  
  xmlns:doap="http://usefulinc.com/ns/doap#"
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#">
<?php
require_once SITE_DIR . 'templates/head.layout.template.html';
?>
    </head>

    <body id="<?php echo $sC->getEntityId(); ?>" about="" typeof="foaf:Document" class="hfeed">

        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.layout.template.html'; ?>
            <div id="core">
<?php require_once SITE_DIR . 'templates/nav.local.layout.template.html'; ?>

                <div id="content">
                    <h1 property="dcterms:title" class="entry-title">About Data Gov.ie</h1>

                    <div id="content_inner" property="dcterms:description" class="hentry">
                        <div id="resource_data" class="entry-content">
		                    <h2>Launching in December 2010!</h2>

		                    <p>On page 135 the <a href="http://www.taoiseach.gov.ie/eng/Government_Press_Office/Government_Press_Releases_2010/The_National_Recovery_Plan_2011-2014.html" title="Department of Taoiseach - The National Recovery Plan 2011-2014">National Recovery Plan 2011-2014</a> states:</p>

		                    <blockquote>
                                <p>... a number of public bodies already publish some of their datasets online.  The potential for doing this more generally is being explored both within the Public Service and with academic and private sector organisations.  This exploration will seek to identify how such publishing can be done in a way that provides value to the general public and facilitates the development of both free and commercial products;</p>
		                    </blockquote>

		                    <p>This site aims to support the process outlined in the Recovery Plan, act as a catalyser and motivate agencies as well as citizens to participate in the open data movement in Ireland. While you're waiting for the site to be launched, you might want to check out the following sources:</p>
		                    <ul>
			                    <li>There is a <a href="http://groups.google.com/group/open-data-ireland" title="Open Data Ireland Discussion Groups">discussion group</a> about open data in Ireland with currently some 80 people involved, and growing every day.</li>
			                    <li>You can get an overview of available datasets in Ireland in the <a href="http://ie.ckan.net/">Irish data catalogue</a> (national CKAN instance).</li>
		                    </ul>

		                    <h2>Who is behind this?</h2>

		                    <p>This site is maintained by the <a rel="dcterms:publisher" href="http://linkeddata.deri.ie/">Linked Data Research Centre</a>, DERI, NUI Galway with support of the EC FP7 Integrated Project <em>Creating Knowledge out of Interlinked Data</em> (<a href="http://lod2.eu/">LOD2</a>) and the EC FP7 Support Action <em>LOD Around The Clock</em> (<a href="http://latc-project.eu/">LATC</a>).</p>

                            <dl id="partners">
                                <dt>Partners</dt>
                                <dd>
		                            <ul>
			                            <li><a href="http://www.deri.ie/" title="Digital Enterprise Research Institute"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_deri.png'; ?>" class="logo photo" alt="DERI logo" width="100" height="30"/></a></li>
			                            <li><a href="http://lod2.eu/" title="Linked Open Data"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_lod2.png'; ?>" alt="LOD2 logo" width="100" height="63"/></a></li>
			                            <li><a href="http://latc-project.eu/" title="Linked Open Data Around the Clock"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_latc-2.png'; ?>" alt="LATC logo" width="100" height="50"/></a></li>
			                            <li><a href="http://cordis.europa.eu/fp7/ict/" title="European Commission ICT Research in FP7"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_fp7.png'; ?>" alt="FP7 Logo" width="92" height="73"/></a></li>
		                            </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                    <dl id="page_notice">
                        <dt>Page notice</dt>
                        <dd>
                            <ul>
	                            <li class="notice_updated">Last update on <abbr property="dcterms:date" datatype="xsd:date" class="updated" title="2010-11-28T00:00:00Z">2010-12-07</abbr>.</li>
                                <li class="notice_valid">Valid <a href="http://validator.w3.org/check?uri=referer" rel="dcterms:conformsTo" resource="http://www.w3.org/TR/rdfa-syntax">XHTML+RDFa</a>.</li>
                                <li class="notice_badge_lod-stars"><abbr class="badge_lod lod-stars-5" title="Five star Open Web data">&#9733;&#9733;&#9733;&#9733;&#9733;</abbr></li>
                            </ul>
                        </dd>
                    </dl>
            </div>
<?php require_once SITE_DIR . 'templates/footer.layout.template.html'; ?>
        </div>
<?php require_once SITE_DIR . 'templates/foot.layout.template.html'; ?>
