<?php
require_once SITE_DIR . 'templates/html.layout.template.html';
require_once SITE_DIR . 'templates/head.layout.template.html';
?>
    </head>

    <body id="<?php echo $sC->getEntityId(); ?>">
        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.layout.template.html'; ?>
            <div id="core">

                <div id="content">
                    <h1>This page is about <a href="<?php e($resource_uri);?>"><?php e($title);?></a></h1>

                    <div id="content_inner">
                        <div id="resource_data">
<?php
    echo $this->renderClass();
?>

                        </div>

                    </div>
                </div>
            </div>
<?php require_once SITE_DIR . 'templates/footer.layout.template.html'; ?>
        </div>
<?php require_once SITE_DIR . 'templates/foot.layout.template.html'; ?>
