    <head>
        <title><?php e($title); echo " &#8212; ".$c['site']['name'];?></title>
<?php
    $fileVersion = 'version=0.0.2';

    $favicon_theme = SITE_DIR.'theme/'.$c['site']['theme'].'/images/icons/favicon.ico';

    if (file_exists($favicon_theme)) {
        $favicon = $c['site']['base'].'/theme/'.$c['site']['theme'].'/images/icons/favicon.ico';
    }
    else {
        $favicon = $c['site']['base'].'/favicon.ico';
    }
?>

        <link rel="shortcut icon" href="<?php echo $favicon; ?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo $c['site']['base'].'/theme/'.$c['site']['theme'].'/css/display.css?'.$fileVersion; ?>" media="screen, projection, tv, print"/>

        <meta name="description" content="<?php echo $description;?>"/>

<?php
    $formats = $this->desc->get_resource_triple_values($this->desc->get_uri(), 'http://purl.org/dc/terms/hasFormat');
    foreach ($formats as $format_uri) {
        $media_type = $this->desc->get_first_literal($format_uri, 'http://purl.org/dc/elements/1.1/format');  
        $label = $this->desc->get_first_literal($format_uri, RDFS_LABEL, $media_type);  
        echo '        <link rel="alternate" type="' . htmlspecialchars($media_type) . '" href="' . htmlspecialchars($format_uri) . '" title="' . htmlspecialchars($label) . ' version of this document"/>' . "\n";
    }
?>

