<?php
    $resource_uri = $this->desc->get_primary_resource_uri();
    $title = $this->get_title($resource_uri);
    $description = $this->get_description($resource_uri);
    $description = ($description == '') ? $this->get_title($resource_uri) : $description;

    $sC = $this->sC;
    $c  = $sC->getConfig();

    $entitySetId = $sC->getEntitySetId();

    $charset = "utf-8";
    $lang = "en";

    $xmlProlog = '';

    if ( stristr($_SERVER["HTTP_ACCEPT"],"application/xhtml+xml") || stristr($_SERVER["HTTP_ACCEPT"],"application/xml") || stristr($_SERVER["HTTP_ACCEPT"],"text/xml") || !isset($_SERVER["HTTP_ACCEPT"])) {

        if (stristr($_SERVER["HTTP_ACCEPT"],"application/xhtml+xml")) {
            $contentType="application/xhtml+xml";
        }
        else if (stristr($_SERVER["HTTP_ACCEPT"],"application/xml")) {
            $contentType="application/xml";
        }
        else if (stristr($_SERVER["HTTP_ACCEPT"],"text/xml")) {
            $contentType="text/xml";
        }
        else {
            $contentType="application/xhtml+xml";
        }

        $xmlProlog = '<?xml version="1.0" encoding="'.$charset.'"?>'."\n";
    }
    else {
        $contentType = "text/html";
    }

    header ("Content-Type: $contentType; charset=$charset");
    header ("Content-Language: $lang");

    echo $xmlProlog;
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:v="http://www.w3.org/2006/vcard/ns#"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:dbr="http://dbpedia.org/resource/"
    xmlns:dbp="http://dbpedia.org/property/"
    xmlns:wgs="http://www.w3.org/2003/01/geo/wgs84_pos#"
    xml:lang="<?php echo $lang; ?>">
