<?php
require_once SITE_DIR . 'templates/html.html';
require_once SITE_DIR . 'templates/head.html';
?>
    </head>

    <body id="<?php echo $entitySetId; ?>">
        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.html'; ?>
            <div id="core">

                <div id="content">
                    <h1>This page is about <a href="<?php e($resource_uri);?>"><?php e($title); ?></a></h1>

                    <div id="content_inner">
                        <div id="resource_data">
<?php
//    echo $this->render(array('value' => $resource_uri, 'type'=>'uri'), FALSE);
?>

<div id="usual-residence-population" class="related">
<?php
echo $this->renderUsualResidencePopulation();
?>
</div>

<div id="religion-population" class="related">
<?php
echo $this->renderReligionPopulation();
?>
</div>


<div id="marital-status-age-population" class="related">
<?php
echo $this->renderMaritalStatusAgePopulation();
?>

    <div id="chart_msap"></div>
</div>

<div id="birthplace" class="related">
<?php
echo $this->renderBirthplace();
?>
</div>

<?php
    echo $this->render(array('value' => $resource_uri, 'type'=>'uri'), FALSE);
?>

                        </div>

                    </div>
                </div>
            </div>
<?php require_once SITE_DIR . 'templates/footer.html'; ?>
        </div>

        <script type="text/javascript">/*<![CDATA[*/ if (window.top !== window.self) { window.top.location.href = window.self.location.href; } /*]]>*/</script>
        <script type="text/javascript" src="http://<?php echo $c['site']['server'].$c['site']['path']; ?>/js/jquery.min.js<?php echo '?'.$fileVersion; ?>"> </script>
        <script type="text/javascript" src="http://<?php echo $c['site']['server'].$c['site']['path']; ?>/js/index.js<?php echo '?'.$fileVersion; ?>"> </script>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">
            /*XXX: TEST ONLY  --- Will try to get this working from index.js*/
        
            var queryString = '';
            var dataUrl = '';

            function onLoadCallback() {
                if (dataUrl.length > 0) {
                    var query = new google.visualization.Query(dataUrl);
                    query.setQuery(queryString);
                    query.send(handleQueryResponse);
                } else {
                    var dataTable = new google.visualization.DataTable();
                    dataTable.addRows(18);

                    for (i=0; i <= 4; i++) {
                        dataTable.addColumn('number');
                    }

                    var a = [];
                    var c = [];
                    var i = 0;
                    $('#marital-status-age-population table tbody tr').each(function() {
                        c = [];
                        i = 0;
                        $('td', this).each(function() {
                            //XXX: Temporary hack until rdfs:label or 'total's are sorted out.
                            if (i != 4) {
                                if (this.textContent.length > 0) {
                                    c.push(this.textContent);
                //                        console.log(c);
                                }
                            }
                            i++;
                        });
                        a.push(c);
                    });

                    a.shift();
                    a.pop();
                    i = 0;
                    $(a).each(function() {
                        var j = 0;
                        $(this).each(function() {
                            dataTable.setValue(i, j, parseFloat(this));
                            j++;
                        });
                        i++;
                    });

                    draw(dataTable);
                }
            }

            var legend = [];
            $('#marital-status-age-population table tbody tr:first th').each(function() {
                var tC = $.trim(this.textContent).toLowerCase();
                if (tC.length > 0 && tC != 'total') {
                    legend.push(this.textContent);
                }
            });
            legend = legend.join("|");

            function draw(dataTable) {
                var vis = new google.visualization.ImageChart(document.getElementById('chart_msap'));
                var options = {
                    chxl: '0:|0|5|10|15|20|25|30|35|40|45|50|55|60|65|70|75|80|85+',
                    chxp: '',
                    chxr: '',
                    chxs: '0,333333,14,0,l,333333',
                    chxtc: '',
                    chxt: 'x',
                    chbh: '30,1,0',
                    chs: '1000x650',
                    cht: 'bvs',
                    chco: '007E85,003C85,070085,490085,85007E',

                    chdl: legend,
                    chdlp: 'r',
                    chtt: 'Marital Status and Age breakdown in population',
                    chts: '222222,18'
                };
                vis.draw(dataTable, options);
            }

            function handleQueryResponse(response) {
                if (response.isError()) {
                    alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
                    return;
                }
                draw(response.getDataTable());
            }

            $('#marital-status-age-population table').addClass('dn');
            google.load("visualization", "1", {packages:["imagechart"]});
            google.setOnLoadCallback(onLoadCallback);
        </script>

<?php require_once SITE_DIR . 'templates/foot.html'; ?>
