<?php
require_once SITE_DIR . 'templates/html.html';
require_once SITE_DIR . 'templates/head.html';
?>
    </head>

    <body id="<?php echo $entitySetId; ?>">
        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.html'; ?>
            <div id="core">

                <div id="content">
                    <h1>This page is about <a href="<?php e($resource_uri);?>"><?php e($title);?></a></h1>

                    <div id="content_inner">
                        <div id="resource_data">
<?php
    echo $this->render(array('value' => $resource_uri, 'type'=>'uri'), FALSE);
?>

                        </div>

                    </div>
                </div>
            </div>
<?php require_once SITE_DIR . 'templates/footer.html'; ?>
        </div>
<?php require_once SITE_DIR . 'templates/foot.html'; ?>
