<?php
require_once SITE_DIR . 'templates/html.html';
require_once SITE_DIR . 'templates/head.html';
?>
    </head>

    <body id="<?php echo $sC->getEntitySetId(); ?>">
        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.html'; ?>
            <div id="core">

                <div id="content">
                    <h1><a href="<?php e($resource_uri);?>"><?php e($title);?></a></h1>

                    <div id="content_inner">
                        <div id="resource_data">
<?php
        $triples = $this->getTriplesOfType('http://'.$c['server']['geo.govdata.ie'].'/City');
?>
                            <dl id="cities" class="related">
                                <dt>Cities</dt>
                                <dd>
                                    <ul>
<?php
        foreach($triples as $s=> $po) {
                $label = $po[$c['prefixes']['skos'].'prefLabel'][0]['value'];
                echo "\n".'<li><a href="'.$s.'">'.$label.'</a></li>';
        }
?>
                                    </ul>
                                </dd>
                            </dl>

<?php
        $triples = $this->getTriplesOfType('http://'.$c['server']['geo.govdata.ie'].'/Province');
?>

                            <dl id="provinces" class="related">
                                <dt>Provinces</dt>
                                <dd>
                                    <ul>
<?php
        foreach($triples as $s=> $po) {
                $label = $po[$c['prefixes']['skos'].'prefLabel'][0]['value'];
                echo "\n".'<li><a href="'.$s.'">'.$label.'</a></li>';
        }
?>
                                    </ul>
                                </dd>
                            </dl>

                        </div>

                    </div>
                </div>
            </div>
<?php require_once SITE_DIR . 'templates/footer.html'; ?>
        </div>
<?php require_once SITE_DIR . 'templates/foot.html'; ?>
