<?php
    $resource_uri = $this->desc->get_primary_resource_uri();
    $title = $this->get_title($resource_uri);

    $sC = $this->siteConfig;
    $c  = $sC->getConfig();

    echo '<?xml version="1.0" encoding="utf-8"?>'."\n";
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:xsd ="http://www.w3.org/2001/XMLSchema#"
  xmlns:owl="http://www.w3.org/2002/07/owl#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dcterms="http://purl.org/dc/terms/"
  xmlns:vcard="http://www.w3.org/2006/vcard/ns#"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"  
  xmlns:doap="http://usefulinc.com/ns/doap#"
  xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#">
    <head>
        <title>About <?php echo $c['site']['name'];?></title>
<?php
    $fileVersion = 'version=0.0.2';

    $favicon_theme = SITE_DIR.'theme/'.$c['site']['theme'].'/images/icons/favicon.ico';

    if (file_exists($favicon_theme)) {
        $favicon = 'http://'.$c['site']['server'].$c['site']['path'].'/theme/'.$c['site']['theme'].'/images/icons/favicon.ico';
    }
    else {
        $favicon = 'http://'.$c['site']['server'].$c['site']['path'].'/favicon.ico';
    }
?>

        <link rel="shortcut icon" href="<?php echo $favicon; ?>"/>
        <link rel="stylesheet" type="text/css" href="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/'.$c['site']['theme'].'/css/display.css?'.$fileVersion; ?>" media="screen, projection, tv, print"/>

        <meta name="description" content="<?php e($this->get_description($resource_uri));?>"/>

<?php
    $formats = $this->desc->get_resource_triple_values($this->desc->get_uri(), 'http://purl.org/dc/terms/hasFormat');
    foreach ($formats as $format_uri) {
        $media_type = $this->desc->get_first_literal($format_uri, 'http://purl.org/dc/elements/1.1/format');  
        $label = $this->desc->get_first_literal($format_uri, RDFS_LABEL, $media_type);  
        echo '        <link rel="alternate" type="' . htmlspecialchars($media_type) . '" href="' . htmlspecialchars($format_uri) . '" title="' . htmlspecialchars($label) . ' version of this document"/>' . "\n";
    }
?>
    </head>

    <body id="<?php echo $entitySetId; ?>" about="" typeof="foaf:Document" class="hfeed">

        <div id="wrap">
<?php require_once SITE_DIR . 'templates/header.html'; ?>
            <div id="core">

                <div id="content">
                    <h1 property="dcterms:title" class="entry-title">About Data Gov.ie</h1>

                    <div id="content_inner" property="dcterms:description" class="hentry">
                        <div id="who-is-behind-this" class="entry-content">
                            <h2>Who is behind this?</h2>

                            <p>This site is maintained by the <a rel="dcterms:publisher" href="http://linkeddata.deri.ie/">Linked Data Research Centre</a>, DERI, NUI Galway with support of the EC FP7 Integrated Project <em>Creating Knowledge out of Interlinked Data</em> (<a href="http://lod2.eu/">LOD2</a>) and the EC FP7 Support Action <em>LOD Around The Clock</em> (<a href="http://latc-project.eu/">LATC</a>).</p>

                            <dl id="partners">
                                <dt>Partners</dt>
                                <dd>
                                    <ul>
                                        <li><a href="http://www.deri.ie/" title="Digital Enterprise Research Institute"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_deri.png'; ?>" class="logo photo" alt="DERI logo" width="100" height="30"/></a></li>
                                        <li><a href="http://lod2.eu/" title="Linked Open Data"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_lod2.png'; ?>" alt="LOD2 logo" width="100" height="63"/></a></li>
                                        <li><a href="http://latc-project.eu/" title="Linked Open Data Around the Clock"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_latc-2.png'; ?>" alt="LATC logo" width="100" height="50"/></a></li>
                                        <li><a href="http://cordis.europa.eu/fp7/ict/" title="European Commission ICT Research in FP7"><img src="<?php echo 'http://'.$c['site']['server'].$c['site']['path'].'/theme/base/images/logos/logo_fp7.png'; ?>" alt="FP7 Logo" width="92" height="73"/></a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                    <dl id="page_notice">
                        <dt>Page notice</dt>
                        <dd>
                            <ul>
                                <li class="notice_updated">Last update on <abbr property="dcterms:date" datatype="xsd:date" class="updated" title="2010-11-28T00:00:00-00:00">2010-12-15</abbr>.</li>
                                <li class="notice_valid">Valid <a href="http://validator.w3.org/check?uri=referer" rel="dcterms:conformsTo" resource="http://www.w3.org/TR/rdfa-syntax">XHTML+RDFa</a>.</li>
                                <li class="notice_badge_lod-stars"><a href="http://www.w3.org/DesignIssues/LinkedData.html"><abbr class="badge_lod lod-stars-5" title="Five star Open Web data">&#9733;&#9733;&#9733;&#9733;&#9733;</abbr></a></li>
                            </ul>
                        </dd>
                    </dl>
            </div>

            <div id="footer">
            </div>

        </div>
<?php require_once SITE_DIR . 'templates/foot.html'; ?>
